* {
  margin: 0;
}
html, body, #content{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

html, body {
    /* background-color: #636c70; */
}

/* Stiziles */
ul {
    list-style: none;
    padding: 0;
}

select {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 0px 5px;
  display: block;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 0;
  background: #fff;
  width: 100%;
  border: 3px solid black;
  font-weight: bold;
  line-height: 30px;
  height: 36px;
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.App {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  color: #000;
  align-content: space-around;
  overflow: hidden;
}
.Layout {
  order: 2;
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
}
.MainForm {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-controls-wrapper {
  flex: 1;
  padding-top: 20px;
}
.main-button-wrapper {
  min-height: 93px;
  margin-bottom: 20px;
}

header, footer {
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

header {
  order: 1;
  height: 40px;
  border-bottom: 4px solid #000;
}



footer {
  height: 40px;
  order: 3;
  border-top: 4px solid #000;
}

.labels {
  text-transform: uppercase;
  font-weight: bold;
}

input[type=range] {
  -webkit-appearance: none;
  display: inline-block;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 36px;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
  border-radius: 0px;
  border: 3px solid #000;
}
input[type=range]::-webkit-slider-thumb {
  height: 30px;
  width: 15px;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
}
.accents-labels {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}

.accent_switch,
.main-button {
  background-color: #fff;
  border: 3px solid black;
  box-shadow: none;
}

.accent_switch:focus,
.accent_switch:active,
.main-button:focus,
.main-button:active {
  outline: none;
}

.accent_switch[data-is-on="true"],
.accent_switch[data-is-off="true"],
.main-button[data-is-playing="true"] {
  background-color: #000;
  color: #fff;
}

.main-button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}